/************************************************
* Feedvolley styles for screen & projection
* Copyright 2008 Kyle Bragger
************************************************/

/************************************************
* globals & page structure
************************************************/
body {
	border-top: 5px solid #ddf3fb;
	background: #f9fafa;
	color: #1f1f1f;
	font: 12px Verdana, Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	border: none;
	outline: none;
}

#header, #content {
	padding: 8px 15%;
}

#header {
	background: #55c5e9;
}

#title {
	float: left;
}

#title h1 a {
	font: bold 34px Helvetica, Arial, sans-serif;
	color: #f6fcfe;
}

#title h1 a:hover {
	color: #ddf3fb;
}

#footer {
	margin: 22px 15%;
	padding: 8px;
	background: #fdfefe;
	color: #8a8a8a;
}

#footer a {
	color: #555;
}

#content a {
	color: #ff5e3c;
}

#content a:hover {
	color: #ff9e8a;
}

tt {
	color: #f53a3a;
}

/************************************************
* homepage
************************************************/
#intro {
	margin: 3px 0 15px;
	color: #0d0d0d;
}

#intro h2 {
	font: 28px/32px Georgia, Century, Times, serif;
}

#recent_pages h3 {
	color: #502d7f;
	font: bold 16px/20px Helvetica, Arial, sans-serif;
}

#recent_pages ul li {
	line-height: 18px;
}

#recent_pages ul li span {
	color: #9e9e9e;
}

#big_form {
	text-align: center;
	margin-bottom: 20px;
	padding: 5px;
	background: #fdfefe;
}

#big_form div {
	margin: 7px;
}

#big_form label {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	color: #a3d869;
}

#big_form label.normal {
	font-size: 13px;
	font-weight: normal;
	color: #0d0d0d;
}

#big_form label span {
	font: italic 14px/1 Georgia, Century, Times, serif;
	color: #9e9e9e;
}

#big_form input.field {
	margin-top: 3px;
	padding: 5px;
	width: 400px;
	border: 2px solid #dfe5e6;
	background: #fff;
	color: #1f1f1f;
	font-size: 14px;
}

#big_form input.submit {
	font-size: 18px;
	padding: 5px;
}

#big_form span.plus {
	font-size: 48px;
	font-weight: bold;
}

.bar {
	border-top: 3px solid #0d0d0d;
	text-indent: -1000em;
}

h4.advanced {
	font-size: 16px;
	font-weight: bold;
	margin: 1px 0 15px;
}


/************************************************
* theme selector element
************************************************/

table.themes_selector {
  text-align: center;
  border-spacing: 10px;
  width: 400px; 
  margin-left: auto; 
  margin-right: auto;
}

.themes_selector td {
  text-align: center;
  font-size: 10px;
}

.themes_selector img {
	width: 70px; height: 54px;
	border-style: solid;
	border-width: 3px;
}

/************************************************
* self-clearing floats
************************************************/
.clearfix:after,
#header:after {
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
}


/************************************************
* content pages
************************************************/

.text {
	margin-bottom: 15px;
	background: #fff;
	padding: 5px;
}

.text h2 {
	font-size: 18px;
	font-weight: bold;
	color: #a3d869;
}

.text p {
	margin-top: 7px;
	line-height: 17px;
}

.text p a {
	color: #ff5e3c;
}

.text strong, .text b { font-weight: bold; }
.text em, .text i { font-style: italic; }
